---
const { topic, title, description, pubDate, href } = Astro.props;
---

<a
  href={href}
  class={"px-5 py-4 rounded-md bg-bright border border-bright  md:col-span-2 flex flex-col items-start justify-between md:min-h-[190px] hover:brightness-75 cursor-pointer transition-all"}
>
  <div>
    <p class="text-sm text-white font-bold mb-3 uppercase">{topic}</p>
    <h2 class={"md:text-3xl text-2xl mb-3 font-bold text-white"}>
      {title}
    </h2>
    <p class={"text-gray-200 md:text-lg"}>
      {description}
    </p>
  </div>
  <p class={"mt-2 text-sm text-gray-300"}>{pubDate.toDateString()}</p>
</a>
