---
const { span, topic, title, description, pubDate, href } = Astro.props;
---

<a
  href={href}
  class:list={[
    "px-5 py-4 rounded-md border md:min-w-[350px] border-brighter reg-post flex flex-col gap-6 items-start justify-between  hover:brightness-75 bg-[#FAF8F2] cursor-pointer transition-all grow",
    span || " ",
  ]}
>
  <div>
    <p class="text-sm text-brighter font-bold mb-3 uppercase">{topic}</p>
    <h2 class={"text-2xl mb-3 font-semibold text-bright capitalize"}>
      {title}
    </h2>
    <p class={"text-dark"}>
      {description}
    </p>
  </div>
  <p class={"text-sm text-dark-bright"}>{pubDate.toDateString()}</p>
</a>
